@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/Content/login.css" rel="stylesheet" />
<div class="col-md-7 right-cont">
    <div class="right-form" style="height: 350px;">
        <img class="logo-sm-cs" src="../../Content/images/logo-cs-small.png" />
        <span class="text-cs"> Confirm your Account </span>
        <div class="col-sm-12">
            <div class="btn btn-info signIn-btn" style="margin-top: 30px; padding-top: 10px;">
                @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "loginTxt" })
            </div>
        </div>

    </div>
</div>
