
@{
    ViewBag.Title = "Usermanagement";
    ViewBag.headerTitle = "Usermanagement";

}

@section scripts{
    <script src="~/Scripts/bootstrap-filestyle.js"></script>


    <script type="text/javascript" src="~/app/Usermanagement/Main/app-usermanagement.js"></script>
    <script type="text/javascript" src="~/app/Usermanagement/Main/UsermanagementController.js"></script>
    <script type="text/javascript" src="~/app/Usermanagement/Modal/createUserController.js"></script>
<script type="text/javascript" src="~/app/Usermanagement/Modal/alertModalController.js"></script>
}
<link href="~/Content/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/usermanagement.less" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="page-title">User Management</h1>
<div class="row table-margin" ng-app="app-Usermanagement">
    <div ng-view></div>
</div>