@{
    ViewBag.Title = "Dashboard";
}

@section scripts{

    <script src="~/app/Dashboard/Main/app-dashboard.js"></script>
    <script src="~/app/Dashboard/Main/DashboardController.js"></script>

    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

}

@*<h2 class="page-title">Dashboard</h2>*@
<div class="container-fluid" ng-app="app-dashboard">
    <div ng-view></div>
</div>
